// ==============================
// Custom style
// 自定义样式
// ==============================

body {
  font-family: "Barlow", sans-serif;
}

a {
  transition: color 0.3s ease, border-color 0.3s ease, background 0.3s ease, opacity 0.3s ease;
}

.wrapper {
  min-height: 100vh;
}

.page {
  max-width: 960px;
  padding-top: 0;
}

.banner {
  width: 100%;
  max-width: 1230px;
  min-height: 500px;
  margin: 2rem auto;
  background-color: #f5f6f7;
  background-image: url('//static.u1s3.com/images/97087e90efa20caa60dec66f3fcb8b25.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
}


.recommend {
  width: 100%;
  max-width: 1230px;
  margin: 1.8752rem auto 2rem auto;
  
  .recommend-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
    justify-content: center;
    align-items: center;
    
    .recommend-item {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      width: 100%;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      
      .recommend-item-wrapper {
        height: 200px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        
        .recommend-item-link {
          display: flex;
          height: 200px;
          background: rgba(25,25,25,.5);
          color: #fff;
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          
          &:hover {
            background: rgba(30,40,50,.7);
          }
          
          .recommend-item-title {
            flex: 0 0 80%;
            max-width: 80%;
            text-align: center;

            h3 {
              color: #fff;
              font-size: 1.25rem;
              line-height: 1.25;
            }
          }
        }
      }
    }
  }
}

#header-desktop {
  background: #fff;
  padding: 1.3125rem 0;
  height: auto;
  line-height: 1;
  
  .header-wrapper {
    margin: 0 auto;
    max-width: 1262px;
    text-align: left;
    
    .menu {
      padding: 0 1rem;
      a {
        color: $global-font-color;
        &:hover {
          color: $global-link-color;
        }
      }
    }
    
    .header-title {
      padding: 0 1rem;
      
      a {
        font-weight: 600;
        font-size: 2rem;
        padding: 0;
        line-height: 2.5rem;
        margin-bottom: 0.3125rem;
        display: block;
      }
      
      div {
        font-weight: normal;
        color: $global-font-secondary-color;
        font-size: 1rem;
      }
    }
    
    .menu {
      line-height: 3.75rem;
    }
  }
}

#header-mobile {
  background: #fff;
  padding: 1.3125rem 0;
  height: auto;
  line-height: 1;
  .header-wrapper {
    .menu {
      border-top: 0;
      box-shadow: unset;
      margin-top: 2rem;
      border-bottom: 1px solid $global-border-color;
      border-top: 1px solid $global-border-color;
    }
    
    .header-title {
      a {
        font-weight: 600;
        font-size: 2rem;
        padding: 0;
        line-height: 2.5rem;
        margin-bottom: 0.3125rem;
        display: block;
      }
      
      div {
        font-weight: normal;
        color: $global-font-secondary-color;
        font-size: 1rem;
      }
    }
  }
}

#header-desktop, #header-mobile {
  .menu {
    a {
      color: $global-font-color;
    }
  }
}

.home {
  .home-profile {
    display: none;
    .home-social-links a {
      color: $global-font-color;
    }
  }
  
  .summary {
    padding: 2rem 0;
    
    &:last-child {
      border-bottom: 0;
    }
    
    .featured-image-preview {
      border-radius: 0.25rem;
      padding: 37% 0 0;
      margin: 1.5rem 0;
      overflow: hidden;
    }
    
    .single-title {
      font-size: 2rem;
      
      a {
        color: $global-font-color;
        &:hover {
          color: $global-link-color;
        }
      }
    }
    
    .content {
      color: $global-font-color;
      margin-top: 1rem;
      -webkit-line-clamp: unset;
      
      p {
        font-size: 1.125rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        margin-top: 0;
        display: block;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    
    .post-footer {
      margin: 1.5rem 0;
      
      a {
        padding: 5px 14px;
        border-color: $global-link-color;
        background-color: $global-link-color;
        font-size: 0.875rem;
        border-radius: 0.2rem;
        color: #ffffff!important;
        display: inline-block;
        user-select: none;
        &:hover {
          background-color: $global-link-hover-color;
          border-color: $global-link-hover-color;
          color: #ffffff!important;
        }
      }
    }
  }
}

.single {
  padding-top: 3.75rem;
  
  #toc-auto {
    .toc-content {
      // 数线
      ul a::before {
        color: $global-font-secondary-color;
      }
      
      // 名称
      a {
        color: $global-font-secondary-color;
      }
      
      // 名称焦点
      a.active {
        color: $global-link-hover-color;
      }
    }
  }
  
  .single-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .featured-image {
    margin: 1rem 0;
    padding: 0;
  }
  
  .post-meta {
    font-size: 1rem;
    font-style: italic;
    line-height: 2rem;
    
    .post-meta-line-item {
      margin-right: 0.625rem;
      
      span {
        margin-right: 0.3125rem;
        
        a:after {
          content: ','
        }
        
        &:last-child {
          margin-right: 0;
          
          a:after {
            content: '';
          }
        }
      }
    }
  }
  
  .content {
    margin-top: 1.5rem;
    
    kbd {
      padding: 0rem .7rem;
    }
    
    h2 {
      margin-top: 2rem;
    }
    
    p {
      font-size: 1.125rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .table-wrapper>table thead {
      background-color: $header-background-color;
    }
  }
  
  .post-footer {
    .post-info {
      padding: 1rem 0 1rem;
      
      .post-info-line {
        .post-info-md, .post-info-mod, .post-info-license, .post-info-wordcount {
          font-size: 1rem;
          font-style: italic;
          color: $global-font-secondary-color;
        }
      }
    }
    
    .post-info-more {
      padding: 1rem 0 1rem;
      font-size: 1rem;
      font-style: italic;
      
      .post-meta {
        line-height: unset;
      }
    }
  }
    
  .comment {
    padding: 2rem;
  }
}

.footer {
  background: $header-background-color;
  height: auto;
  padding: 3rem 0;
  margin-top: 3rem;
  
  .copyright .copyright-line {
    font-family: $global-font-family;
    
    .far {
      margin-right: 2px;
    }
    
    .icp {
      a {
        color: $global-font-color;
        &:hover {
          color: $global-link-color;
        }
      }
    }
  }
}

// 代码高亮北京
.single .content .highlight>.chroma::before {
  color: #b1b0b0;
  background: #f5f6f7;
}

.single .content code, .single .content pre, .single .content .highlight table, .single .content .highlight tr, .single .content .highlight td {
  background: #f7f8f9;
}

// H3 的小竖线位置调整
.single .content h3>a:first-child::before {
  position: relative;
  top: -1px;
}

// TOC 响应式
@media only screen and (max-width: 1800px) {
  .page {
    max-width: 960px;

    #toc-auto {
      margin-left: 1000px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    max-width: 800px;

    #toc-auto {
      margin-left: 840px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    max-width: 580px;

    #toc-auto {
      margin-left: 600px;
    }
  }
}


@media only screen and (max-width: 960px) {
  .banner {
    min-height: 300px;
  }
  
  .recommend {
    .recommend-wrapper {
      .recommend-item {
        &:last-child {
          display: none;
        }
        
        .recommend-item-wrapper {
          height: 150px;
          
          .recommend-item-link {
            height: 150px;
          }
        }
      }
    }
  }
    
  .page {
    max-width: 100%;
    
    #toc-auto {
      display: none;
    }

    #toc-static {
      display: block;
    }
  }
}
